@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSansRegular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Netflix-light';
    src: url('../fonts/NetflixSansLight.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--cor-textos);
    background-color: var(--bg-color);

}

:root {
    --fonte: 'Netflix Sans', sans-serif;
    --bg-color: #000000;
    --cor-fundo: #0078ff;
    --cor-destaque: #e50914;
    --cor-textos: #737373;
    --border-color: #222;
    --fonte-light: 'Netflix-light', sans-serif;
}

body {
    font-family: var(--fonte);
}

h2 {
    text-align: center;
    color: white;
}

header.cabecalho {
    padding: .6em 5% 1em;
}

nav.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.cabecalho>nav.menu .netflix-logo {
    max-width: 80px;
}

nav.menu a.btn-signin {
    background-color: var(--cor-destaque);
    color: white;
    padding: .3em .5em;
    border-radius: 3px;
    font-size: .8em;

    font-family: var(--fonte-light);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.4em 5% 1em;

    border-bottom: 8px solid var(--border-color)
}

section.destaque {}

.destaque-title {
    margin-bottom: .5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    text-align: center;
    font-size: .9em;
    font-weight: lighter;
}

.destaque-info {
    text-align: center;
    color: white;
    margin-bottom: .8em;
}

label {
    display: none;
}

.destaque-message, .destaque-message-foot {
    width: 200px;
    margin: auto;
    text-align: center;
    font-weight: normal;
    color: white;
    margin-bottom: .3em;
}

form.form, form.form-member-foot {
    display: flex;
    flex-wrap: wrap;

}

.email {
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: white;
    color: black;
    height: 40px;
    width: 100%;
    padding: 5px;
}

.btn-started {
    margin: .7em auto;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-bottom: 3.4em;
    padding: 10px;
    background-color: var(--cor-destaque);
    color: white;
    font-family: var(--fonte-light);
    font-weight: 200;

    cursor: pointer;

}

.btn-started:active {
    transition: background-color 1s ease;
    background-color: #93080f;
}

section.tv {
    padding-top: 3em;
}

section h2.tv-title {
    margin-bottom: .5em;
}

section h3.tv-info {
    color: white;
    width: 250px;
    font-size: 1em;
    font-weight: 400;
}

div.img-tv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 2.5em;
}

section.tv div.img-tv img {
    width: 100%;
}

section.download-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.download-info {
    width: 250px;
    margin-top: .8em;
    font-size: 1em;
    color: white;
}

.download-container .img-download>img {
    width: 300px;
}

div.img-download {
    position: relative;
}

div.img-download div.panel-title {
    position: absolute;
    width: 250px;
    top: 79%;
    left: 50%;

    transform: translate(-50%, -50%);

    padding: 10px;

    background-color: var(--bg-color);
    border: 2px solid var(--cor-textos);
    border-radius: 10px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.422);
}

div.panel-title p#panel-title {
    color: white;
    text-align: center;
}

div.panel-title p#down-status {
    font-size: .8em;
    color: var(--cor-fundo);
    font-weight: lighter;
    text-indent: 50px;
}

section.watch {
    padding-top: 3em;
    padding-bottom: 3.3em;
}

section.watch h3.watch-info {
    margin-top: .8em;
    color: white;
    width: 257px;
}

section.kids-profile {
    padding-top: 3em;
    padding-bottom: 2em;
}

.kids-info {
    margin-top: .8em;
    width: 250px;
    color: white;
}

.img-kids img {
    width: 100%;
}

section.asks {
    padding-top: 3em;
}

section.asks h2.asks-title {
    margin-bottom: .8em;
}