@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSansRegular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Netflix-light';
    src: url('../fonts/NetflixSansLight.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--cor-textos);
    background-color: var(--bg-color);
}

:root {
    --fonte: 'Netflix Sans', sans-serif;
    --bg-color: #000000;
    --cor-fundo: #0078ff;
    --cor-destaque: #e50914;
    --cor-textos: #737373;
    --border-color: #222;
    --fonte-light: 'Netflix-light', sans-serif;
}

body {
    font-family: var(--fonte);
}

h2 {
    text-align: center;
    color: white;
}

header.cabecalho {
    padding: .6em 5% 1em;
}

nav.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.cabecalho>nav.menu .netflix-logo {
    max-width: 80px;
}

nav.menu a.btn-signin {
    background-color: var(--cor-destaque);
    color: white;
    padding: .3em .5em;
    border-radius: 3px;
    font-size: .8em;

    font-family: var(--fonte-light);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.4em 5% 1em;
    border-bottom: 5px solid var(--border-color)
}

section.destaque {}

.destaque-title {
    margin-bottom: .5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    text-align: center;
    font-size: .9em;
    font-weight: lighter;
}

.destaque-info {
    text-align: center;
    color: white;
    margin-bottom: .8em;
}

label {
    display: none;
}

.destaque-message {
    max-width: 230px;
    margin: auto;
    text-align: center;
    color: white;
    margin-bottom: .3em;
}

form.form {
    display: flex;
    flex-wrap: wrap;

}

.email {
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: white;
    color: black;
    height: 40px;
    width: 100%;
    padding: 5px;
}

.btn-started {
    margin: .7em auto;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-bottom: 3.4em;
    padding: 10px;
    background-color: var(--cor-destaque);
    color: white;
    font-family: var(--fonte-light);
    font-weight: 200;

    cursor: pointer;

}

.btn-started:active {
    transition: background-color 1s ease;
    background-color: #93080f;
}

section.tv {
    padding-top: 3em;
}

section h2.tv-title {
    margin-bottom: .5em;
}

section h3.tv-info {
    color: white;
    width: 250px;
    font-size: 1em;
    font-weight: 400;
}

div.img-tv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 2.5em;
}

section.tv div.img-tv img {
    width: 100%;
}

